<div class="container">
  <!-- Navigation -->
  <ul class="nav nav-pills pull-left" role="tablist">
    <li ng-repeat="type in types" ng-class="{active: dataType === type}">
      <a ng-href="#/{{type}}" ng-class="{active: dataType === type}">{{type}}</a>
    </li>
    <li><a ng-href="" ng-click="forceReload()"><span class="glyphicon glyphicon-refresh"/></a></li>
  </ul>

  <!-- Login -->
  <ul id="login" class="nav nav-pills pull-right">
    <li ng-show="loggedIn === true"><a ng-click="auth.$logout()">{{auth.user.uid}} | Logout</a></li>
    <li ng-show="loggedIn === false"><a class="btn btn-warning" ng-click="auth.$login('github')">Login with github</a></li>
  </ul>
</div>



<!-- ** MODALS ** -->
<!-- Modal for settings -->
<div class="modal fade" id="settingsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Settings</h3>
      </div>
      <!-- Toggle which properties to display -->
      <div class="modal-body">
        <h4>Show, hide or order the displayed properties</h4>
        <ol class="list-group">
          <li class="list-group-item list-group-item-success" ng-repeat="key in keys.show">

            {{formattedKeys[key]}}
            <div class="btn-group btn-group-sm">
              <button class="btn btn-default btn-sm" ng-click="move(key, -1)"><span class="glyphicon glyphicon-arrow-up"></span></button>
              <button class="btn btn-default btn-sm" ng-click="move(key, +1)"><span class="glyphicon glyphicon-arrow-down"></span></button>
              <button class="btn btn-default btn-sm" ng-click="toggleKey(key)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>

          </li>
        </ol>
        <ol class="list-group">
          <li class="list-group-item list-group-item-danger" ng-repeat="key in keys.hide">

            {{formattedKeys[key]}}
            <div class="btn-group btn-group-sm">
              <button class="btn btn-default btn-sm" ng-click="move(key, -1)"><span class="glyphicon glyphicon-arrow-up"></span></button>
              <button class="btn btn-default btn-sm" ng-click="move(key, +1)"><span class="glyphicon glyphicon-arrow-down"></span></button>
              <button class="btn btn-default btn-sm" ng-click="toggleKey(key)"><span class="glyphicon glyphicon-ok"></span></button>
            </div>

          </li>
        </ol>
        <a href="{{firebaseKeySettingsUrl}}"><span class="label label-warning">Firebase settings</span></a>
      </div>
      <!-- modal footer -->
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="keysToFirebase()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for deleting -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Delete</h3>
      </div>
      <div class="modal-body">
        <h4>Do you want to delete the following {{dataType}}s?</h4>
        <ol>
          <li ng-repeat="object in selectedObjects" style="text-align:left">{{object.name[0].value}}</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" ng-click="deleteSelected()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for info -->
<div class="modal fade" id="infoModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 calss="modal-title">Which Firebase?</h3>
      </div>

      <div class="modal-body">
        <h4><b>{{whichFirebase}}</b>: {{firebaseUrl}}</h4>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal for advanced search -->
<div class="modal fade" id="advancedSearchModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Advanced search</h3>
      </div>
      <div class="modal-body" ng-init="searchObject={}">
        <h4>Search by one or more specific fields</h4>
        <form class="form-vertical" ng-repeat="key in keys.show">
        <fieldset>

          <br>
          <!-- /input-group -->
           <div class="input-group">
            <span class="input-group-addon">{{formattedKeys[key]}}</span>
            <input type="text" class="form-control" ng-model="searchObject[key]"/>
            <div class="input-group-btn">
              <button class="btn" ng-click="search(searchObject)">
                <span class="glyphicon glyphicon-search"/>
              </button>
            </div>

          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="searchObject={}; search(searchObject)">Clear <span class="glyphicon glyphicon-remove"/></button>
        <button class="btn btn-primary" ng-click="search(searchObject)">Search <span class="glyphicon glyphicon-search"/></button>
      </div>
    </div>
  </div>
</div>




<!-- ** LOGIN PROMPT ** -->
<div class="container add-space" ng-if="loggedIn === false">
  <h1 class="text-center"><span class="label label-warning">Please log in to access the database</span></h1>
</div>




<!-- ** MAIN CONTENT (Navbar & table) ** -->
<div class="container  add-space" ng-if="loggedIn === true">


  <!-- ** NAVBAR ** -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- Navbar header -->
      <div class="navbar-header">
        <a class="navbar-brand disabled" href="#">{{whichFirebase}}</a>
      </div>

      <!-- Navbar content: -->
      <!-- Search thingy -->
      <form class="navbar-form">
        <span class="input-group" id="simpleSearch">
          <input type="text" class ="form-control" ng-model="html.searchValue" placeHolder="Search phrase" ng-blur="delayedUpdateHtmlSearchValue()"/>
          <div class="input-group-btn">
            <button class="btn btn-primary" ng-click="search(html.searchValue)">
              Search <span class="glyphicon glyphicon-search"/>
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advancedSearchModal">
              <span class="glyphicon glyphicon-list-alt"/>
            </button>
          </div>
        </span>

        <!-- Buttons -->
        <div class="form-group">
          <!-- Delete modal trigger -->
          <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" 
                      ng-class="{disabled: nofSelectedObjects() === 0}">
            Delete <span class="glyphicon glyphicon-trash"/>
          </button>
          <!-- Settings modal trigger -->
          <button class="btn btn-info" data-toggle="modal" data-target="#settingsModal">
            Settings <span class="glyphicon glyphicon-wrench"/>
          </button>
          <!-- Info modal trigger -->
          <button class="btn btn-default" data-toggle="modal" data-target="#infoModal">
            <span class="glyphicon glyphicon-info-sign"/>
          </button>
        </div>

      </form>
    </div>
  </nav>




  <!-- ** TABLE ** -->
  <table class="table table-bordered" id="objectTable">

    <!-- table headers-->
    <tr>
      <!-- selection column -->
      <th ng-click="toggleSelectFiltered()">
        <input type="checkbox" ng-checked="allFilteredAreSelected()">
      </th>
      <!-- Firebase column -->
      <th><a href="" ng-click="setSortingPredicate('')">Firebase</a></th>
      <!-- Data columns -->
      <th ng-repeat="key in data.keys.show" style="white-space:nowrap;">
        <a href="" ng-click="setSortingPredicate(key)">
          {{data.formattedKeys.show[key]}}
        </a>
          <span ng-if="filter.predicate===key">
            <span ng-if="!filter.reverse" class="glyphicon glyphicon-sort-by-attributes"/>
            <span ng-if="filter.reverse" class="glyphicon glyphicon-sort-by-attributes-alt"/>
          </span>
      </th>
    </tr>

    <!-- table data -->
    <tr 
    ng-repeat="object in 
    data.objects 
    | mySearchFilter:filter.searchValue 
    | mySortFilter:filter.predicate:filter.reverse 
    | myDeletedUserFilter:dataType"
    class="default" ng-class="{'selected': isSelected(object.id)}">

      <!-- row selection -->
      <td ng-click="toggleSelected(object.id)">
        <!-- glyphicon-check/ -unchecked -->
        <!-- <label ng-if="isSelected(object.id)===false" class="glyphicon glyphicon-unchecked"/>
        <label ng-if="isSelected(object.id)===true" class="glyphicon glyphicon-check"/> -->
        <input type="checkbox" ng-checked="isSelected(object.id)">
      </td>
      <!-- link to firebase -->
      <td>
        <a href="{{firebaseTypeUrl+object.id}}"><span class="label label-warning">Firebase</span></a>
      </td>

      <!-- data cells -->
      <td ng-repeat="key in data.keys.show" style="vertical-align:top">
        <div ng-init="entries=object[key]">
          <div ng-if="entries.length < 2" ng-init="entry=entries[0]">
            <div ng-if="!entry.ref">  {{entry.value}}  </div>
            <div ng-if="!!entry.ref">  <a href="#/{{entry.ref}}">{{entry.value}}</a>  </div>
          </div>
          <div ng-if="entries.length > 1">
            <div ng-init="!entries.expand">
              <div ng-if="!entries.expand">
                <div ng-init="entry=entries[0]">
                  <div ng-if="!entry.ref">  {{entry.value}}  </div>
                  <div ng-if="!!entry.ref">  <a href="#/{{entry.ref}}">{{entry.value}}</a>  </div>
                </div>  <a href="" class="special" ng-click="entries.expand=true">{{entries.length-1}} more</a>
              </div>
              <div ng-if="entries.expand">
                <div ng-repeat="entry in entries">
                  <div ng-if="!entry.ref">  {{entry.value}}  </div>
                  <div ng-if="!!entry.ref">  <a href="#/{{entry.ref}}">{{entry.value}}</a>  </div>
                </div>  <a href="" class="special" ng-click="entries.expand=false"> less</a>
              </div>
            </div>
          </div>
        </div>
      </td><!-- /data cells-->

    </tr>
  </table>
</div>

